@font-face {
  font-family: "iconfont"; /* Project id 3029242 */
  src: url('iconfont.woff2?t=1639902941722') format('woff2'),
       url('iconfont.woff?t=1639902941722') format('woff'),
       url('iconfont.ttf?t=1639902941722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunhang:before {
  content: "\ec61";
}

